* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
}

nav {
    background-color: black;
    opacity: 0.8;
}

 .nav {
            background: rgb(60, 100, 187);
        }

        nav a {
            color: white;
        }

        .btn-submit, .btn-submit:hover{
            padding: 12px 70px;
            background-color: rgb(60, 100, 187);
            color: white;
        }



.head {
    color: rgb(243, 200, 9);
}
